*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Geist";
  color: hsl(240 3.7% 15.9%);
  font-size: 1em;
}
h2 {
  margin: 0;
}
.page {
  display: grid;
  grid-template-columns: 2fr 7fr;
}

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background-color: hsl(0 0% 98%);
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 75vh;
  overflow-y: auto;
}

.staff-card {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  gap: 1em;
  background: hsl(240 4.8% 95.9%);
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 0.5em;
  animation: scaleIn 0.3s ease-in forwards;
}

.staff-card > img {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  object-fit: cover;
}

.staff-card > .card-info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.staff-card > .card-info :first-child {
  font-weight: 600;
  font-size: 1em;
}

.btn {
  font-family: "Geist";
  background: none;
  border: 2px solid #e4e4e7;
  padding: 0.85em;
  border-radius: 6px;
  margin-block: 1em;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.8s ease-out;
}

.btn:hover {
  background: #e4e4e7;
}

.edit-btn {
  display: flex;
  color: #52525b;
  cursor: pointer;
  gap: 0.35em;
}
.edit-btn > i {
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #a1a1aa;
  }
}

.workspace {
  height: 100vh;
  padding: 1em;
  background-color: #f4f4f5;
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr 1fr;
  grid-template-rows: 2fr 0.5fr 2fr;
  grid-auto-columns: 1fr;
  gap: 16px 16px;
  grid-auto-flow: row;
  justify-items: center;
  grid-template-areas:
    "conference . server security"
    "reception . . ."
    "reception . staffroom archiveroom";
}

.reception {
  grid-area: reception;
}

.conference {
  grid-area: conference;
}

.server {
  grid-area: server;
}

.security {
  grid-area: security;
}

.staffroom {
  grid-area: staffroom;
}

.archiveroom {
  grid-area: archiveroom;
}

.workspace > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e4e4e7;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 1em;
}

dialog:open {
  transform: scale(1);
}

dialog {
  transform: scale(0);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
  border: none;
  outline: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  overflow-y: auto;
  max-height: 90vh;
  font-size: 14px;
}

@starting-style {
  dialog:open {
    transform: scale(0);
  }
}

#addworker {
  width: 45vw;
  img {
    width: 80px;
    aspect-ratio: 1;
    border: 2px dashed #00000030;
    border-radius: 50px;
  }
}

#Addworker {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25em;
  padding: 1em;
}

.popupheader {
  align-self: flex-start;
  padding: 1em;

  h3 {
    color: #27272a;
    margin: 0;
    margin-bottom: 4px;
  }
  p {
    color: #71717a;
    margin: 0;
  }
}

input:focus,
select:focus {
  outline: none;
  border-color: #5a5a5a;
  box-shadow: 0 0 0 3px rgba(76, 76, 76, 0.25);
  transition: border-color 0.2s, box-shadow 0.2s;
}

input,
select {
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid #a1a1aa;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.inputerr {
  box-shadow: 0 0 0 3px #fca5a5 !important;
}
.inputerr:focus {
  box-shadow: 0 0 0 3px #fca5a5 !important;
}
.inputsucc {
  box-shadow: 0 0 0 3px #86efac !important;
}
.inputsucc:focus {
  box-shadow: 0 0 0 3px F#86efac !important;
}
.inputsuccmsg {
  color: #22c55e;
  visibility: hidden;
}

.inputerrmsg {
  color: #ef4444;
  visibility: hidden;
}

label {
  font-weight: 500;
}

.subm-btn {
  background: #27272a;
  color: #e4e4e7;
  border: none;
  transition-duration: 0.5s;
}
.subm-btn:hover {
  background: #52525b;
}
.experiences {
  width: 100%;
}

.exps-title {
  font-weight: 700;
}
.experience {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  width: 100%;
  margin-block: 0.5em;
  background: #f4f4f5;
  border-radius: 8px;
  padding: 1em;
  > div {
    display: flex;
    justify-content: space-between;
    span:last-of-type:hover {
      opacity: 0.5;
    }
  }
}
#experiences input {
  width: 100%;
}
#addexp {
  background: none;
  border: none;
  font-weight: 600;
  text-align: right;
}
#addexp:hover {
  opacity: 0.75;
}

.zoneheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  span {
    font-size: 1.25em;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

/* .assingedworkers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}
.assignedworker {
  display: grid;
  grid-template-columns: 1fr 5fr 0.5fr;
  gap: 0.5em;
  padding: 0.5em;
  align-items: center;
  background-color: #d4d4d8;
  color: #3f3f46;
  border-radius: 3px;
  img {
    width: 40px;
    border-radius: 50px;
  }
  div {
    display: flex;
    flex-direction: column;
    :first-child {
      font-weight: 700;
    }
  }
} */

.assigned {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;

  .assigned-avatar {
    margin-right: -30px;
    transition: transform 0.3s ease-in;
    animation: scaleIn 0.3s ease-in-out;

    &:hover:not(:last-of-type) {
      transform: translate(-10px);
    }
  }
  .assigned-avatar img {
    position: relative;
    width: 4rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50px;
    border: 3px solid rgb(244 244 245);
    cursor: pointer;
    box-shadow: 2px 4px 20px #0000007d;
  }
  .assigned-avatar span {
    position: absolute;
    transform: translate(-40px, 53px);
    cursor: pointer;
    &:hover {
      opacity: 0.75;
    }
  }
  #assignnew {
    border: none;
    width: 50px;
    height: 50px;
    transform: translate(0px, -20px);
    transition: opacity 0.15s ease-in;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.avatarpopup {
  position: absolute;
  z-index: 1;
  background: white;
}

.select-container {
  display: flex;
  gap: 1em;
  img {
    width: 35px;
    border-radius: 50px;
    border: 2px solid #29252484;
  }
  div > div {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f5;
    color: #52525b;
    padding: 1em;
    border-radius: 0.5em;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &:hover {
      background-color: #d4d4d8;
      color: #292524;
    }
  }
}

#assignworkermodal {
  border: none;
}

.required {
  background-color: #fecaca !important;
  color: #dc2626 !important;
}

/* #errormsg {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  bottom: 10px;
  opacity: .6; 
  left: 35vw;
  padding: 1em;
  margin-inline: auto; 
  text-align: center;
  width: 30vw;
  height: 7vh;
  border-radius: 4px;
  color: white;
  background: #ef4444;
}
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
#info {
  h4 {
    margin: 0;
  }
  & > div {
    width: 65vw;
    height: 80vh;
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;

    img {
      width: 100px;
    }

    & > div {
      width: 100%;
    }
  }
}

@media screen and (min-width: 728px) and (max-width: 1279px) {
  .page {
    grid-template-columns: 50px 1fr;
  }
  .sidebar {
    padding: 0;
  }
  .sidebar > h3 {
    display: none;
  }
  .cards-container {
    padding-block: 1em;
    align-items: center;
  }
  .staff-card {
    display: block;
    background: none;
    padding: 0;
    margin: 0;
  }
  .staff-card img {
    border: 2px solid #c5c5c575;
    box-shadow: 0 0 5px #93939373;
  }
  .staff-card :not(img) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .page {
    display: block;
  }
  .workspace {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "reception"
      "conference"
      "server"
      "security"
      "staffroom"
      "archiveroom";
  }
  .select-container {
    flex-direction: column;
    gap: 1em;
    > div {
      width: 100%;
      margin: auto; /* Magic! */
    }
  }
  #addworker {
    width: 85vw;
  }
}
