*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Geist";
  color: hsl(240 3.7% 15.9%);
  font-size: 1em;
}
h2 {
  margin: 0;
}
.page {
  display: grid;
  grid-template-columns: 2fr 7fr;
}

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background-color: hsl(0 0% 98%);
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 75vh;
  overflow-y: auto;
}

.staff-card {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  gap: 1em;
  background: hsl(240 4.8% 95.9%);
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 0.5em;
}

.staff-card > img {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  object-fit: cover;
}

.staff-card > div {
  display: inherit;
  font-size: 14px;
}
.staff-card > .card-info :first-child {
  font-weight: 600;
  font-size: 1em;
}

.btn {
  font-family: "Geist";
  background: none;
  border: 2px solid #e4e4e7;
  padding: 0.85em;
  border-radius: 6px;
  margin-block: 1em;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.8s ease-out;
}

.btn:hover {
  background: #e4e4e7;
}

.edit-btn {
  justify-self: center;
  padding: 10px;
  color: #52525b;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.edit-btn:hover {
  color: #a1a1aa;
}
.workspace {
  height: 100vh;
  padding: 1em;
  background-color: #f4f4f5;
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr 1fr;
  grid-template-rows: 2fr 0.5fr 2fr;
  grid-auto-columns: 1fr;
  gap: 16px 16px;
  grid-auto-flow: row;
  justify-items: center;
  grid-template-areas:
    "conference . server security"
    "reception . . ."
    "reception . staffroom archiveroom";
}

.reception {
  grid-area: reception;
}

.conference {
  grid-area: conference;
}

.server {
  grid-area: server;
}

.security {
  grid-area: security;
}

.staffroom {
  grid-area: staffroom;
}

.archiveroom {
  grid-area: archiveroom;
}

.workspace > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e4e4e7;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 1em;
}

dialog:open {
  transform: scale(1);
}

dialog {
  width: 45vw;
  transform: scale(0);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  overflow-y: auto;
  max-height: 90vh;
  font-size: 14px;
  img {
    width: 80px;
  }
}

@starting-style {
  dialog:open {
    transform: scale(0);
  }
}

#Addworker {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 90%;
  div {
    align-self: center;
  }
}

input:focus,
select:focus {
  outline: none;
  border-color: #5a5a5a;
  box-shadow: 0 0 0 3px rgba(76, 76, 76, 0.25);
  transition: border-color 0.2s, box-shadow 0.2s;
}

input,
select {
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid #a1a1aa;
  width: 100%;
}

.subm-btn {
  background: #27272a;
  color: #e4e4e7;
  border: none;
  transition-duration: 0s;
}
.subm-btn:hover {
  background: #52525b;
}
.experiences {
  width: 100%;
  border: 2px solid #e4e4e7;
  border-radius: 5px;
}

.exps-title {
  font-weight: 700;
  margin-block: 1em;
}
#experience {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  width: 100%;
  padding: 0.5em;
  margin-block: 0.5em;
}
#experiences input {
  width: 100%;
}
#addexp {
  background: none;
  border: none;
  font-weight: 600;
  text-align: right;
}
#addexp:hover {
  opacity: 0.75;
}

.zoneheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  span {
    font-size: 1.25em;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

/* .assingedworkers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}
.assignedworker {
  display: grid;
  grid-template-columns: 1fr 5fr 0.5fr;
  gap: 0.5em;
  padding: 0.5em;
  align-items: center;
  background-color: #d4d4d8;
  color: #3f3f46;
  border-radius: 3px;
  img {
    width: 40px;
    border-radius: 50px;
  }
  div {
    display: flex;
    flex-direction: column;
    :first-child {
      font-weight: 700;
    }
  }
} */

.assigned {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  .assigned-avatar {
    transition: transform 0.3s ease-in;
    &:hover:not(:last-of-type) {
      transform: translate(-10px);
    }
  }
  .assigned-avatar img {
    position: relative;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: -20px;
    border-radius: 50px;
    border: 3px solid rgb(244 244 245);
    cursor: pointer;
  }
  .assigned-avatar svg {
    position: absolute;
    transform: translate(30px, 65px);
    z-index: 1;
    cursor: pointer;
    &:hover {
      opacity: 0.75;
    }
  }
  #assignnew {
    border: none;
    width: 50px;
    height: 50px;
    transform: translate(0px, -20px);
    transition: opacity 0.15s ease-in;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.avatarpopup {
  position: absolute;
  z-index: 1;
  background: white;
}
